/* Estil per mòbils */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    nav a {
        text-decoration: none;
        color: #333;
        padding: 10px;
        display: block;
    }

}

/* Estil per tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
}

/* Estil per monitors d'escriptori */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 24px;
    }
}

/* Estil general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 8px;
}

.startimg {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

nav {
        /* color decidir: 60706e / #444 #555 */
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

h3 {
    text-align: center;
    text-decoration: none;
    font-size:x-large;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.galeria img:hover {
    transform: scale(1.1);
}